body {
  font-family: verdana, arial, sans-serif;
  background-color:#000;
  color:#aaa;
}

body.listPage {
  margin:0.5em 1em;
}

body.canvasPage {
  padding:0;
  margin:0;
  border:0;
  width:100%;
  height:100%;
  overflow:hidden;
  background:black;
}

header, header a {
  font-size:x-large;
  color:#aaa;
}

header.columnHeader {
  color:#eee;
  display:inline-block;
}

span.separator {
  color:#444;
  font-weight:bold;
}

.listPage button {
  border: none;
  border-radius:0.5em;
  padding: 0.2em 0.5em;
  font-weight:normal;
}

button.createButton {
  font-size:large;
  background:#630;
  color:#fca;
  float:right;
  margin-bottom: 0.5em;
}

.rows {
  margin:1em 0;
}

.row {
  padding:0.5em 0;
  border-top:1px solid #444;
  clear:both;
}

.row a {
  display:inline-block;
  margin:0.2em 0;
  color:#fff;
}

.rightButtonCluster {
  float:right;
  padding:0;
  border:0;
  margin-bottom:0.5em;
}

.rightButtonCluster button, .rightButtonCluster a {
  margin:0.1em 0.2em;
  font-size:medium;
  background:#033;
  color:#0cc;
}
.rightButtonCluster a {
  border: none;
  border-radius:0.5em;
  padding: 0.2em 0.5em;
}

canvas#canvas {
  border:0;
  padding:0;
  margin:0;
  position:absolute;
  width:100%;
  height:100%;
  background:black;
}

#pauseMenu {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  text-align:center;
  background: rgba(200, 200, 200, 0.8);
  border-radius: 1em;

  color: black;
  font-family:verdana, arial, sans-serif;

  margin:0;
  border:0;
  padding: 2em;
}

#pauseMenu button {
  white-space: nowrap;
  margin-top:1em;
  border-radius: 0.5em;
  padding:0.75em 1em;
  background: #fff;
  width:100%;
  color:#000;
}

.smallButton {
  border:0;
  font-size:125%;
}

.mainButton {
  font-size:150%;
  border: 0;
  font-weight: bolder;
}

.gameTitle {
  white-space: nowrap;
  font-size:200%;
}

#pauseMenu h1 {
  font-size:large;
  margin:0 0.5em 0.5em 0.5em;
  padding:0;
  border:0;
}

.levelEditorNav {
  font-size:150%;
}

.levelEditorNav div {
  margin: 0.7em 0;
}

.levelEditorLevelName {
  font-weight: bold;
}

.levelEditorDebugOptions {
  background:#fc4;
  border-radius:1em;
  padding:0.5em 1em;
  margin-top:0.5em;
  font-size:large;
  white-space: nowrap;
}

.levelEditorDebugOptions label {
  font-size:large;
}

.levelEditorDebugOptions input {
  font-size:large;
  vertical-align: middle;
}

.exportPage {
  font-family:monospace;
  word-wrap:break-word;
  white-space:pre;
}